:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 1rem;
  color: var(--black);
  background-color: var(--yellow);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.card {
  max-width: 320px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  border: 1px solid var(--black);
  box-shadow: 10px 10px 0px var(--black);
}

.card__img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 190px;
}

.card__genre-heading {
  /* display: inline-block; */
  width: fit-content;
  background-color: var(--yellow);
  padding: 6px 9px;
  border-radius: 4px;
  font-size: 0.8rem;
}

.card__content-date {
  font-size: 0.7rem;
}

.card__content-heading {
  font-size: 1.1rem;
  margin: 1rem 0;
  font-weight: 800;
}

.card__content-description {
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: var(--grey);
}

.card__writer {
  display: flex;
  justify-content: start;
}

.card__writer-image {
  width: 2rem;
}

.card__writer-name {
  font-size: 0.9rem;
  font-weight: 800;
  margin-left: 12px;
  align-self: center;
}
